@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

.groundred{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* 세로로 정렬하려면 필요 */
}

.my-about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column; /* 세로로 정렬하려면 필요 */    
}
