@charset "UTF-8";

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left; 
    position: relative;
    font-size: 50px;                           
    top: -80px;  
    left: 30px;
    margin: 0;
}

a{
    text-decoration: none;
}

.card img{
    position: absolute; 
    cursor: pointer;
    top: 50%;    
    left: 80%;   
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;  
}

.navbar-center {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 12px 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

.navbar-center ul{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

.navbar-center li a {
    text-decoration: none;
    color: #333;
    font-size: 22px;
  }

.groundred{
    display: flex;
    justify-content: center;
    align-items: center;
}

.groundred img{
    display:block;
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 10px 1px #5df36c; 
}

.profile {
    text-align: center;     
    position: relative;    
    width: 85%;
    height: auto;
    background-color: #f0ffff;
    margin: 0 auto;      
    margin-top: 200px; 
    box-shadow: 2px 2px 10px 1px #acbebe; 
    border-radius: 60px;  
    min-height: 300px;   
}

.profile-row {
    display: flex;
    justify-content: center; 
    gap: 80px;                
    margin-top: 10px;
    flex-wrap: wrap;  
  }
  
  .profile-row > div {
    min-width: 150px;         
    text-align: left;         
    font-family: "Kanit", sans-serif;
  }

  .profile-row strong{
    font-size: 30px;
  }

  .profile-row p {
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: 18px;  
  }

.Skill,
.froject,
.Design{
    font-family: "Kanit", sans-serif; 
    text-align: center; 
    font-size: 25px;
    margin: 0 auto;
    margin-top: 200px;
    width: 85%;
    height: auto;  
    border-radius: 60px; 
    background-color: #f0ffff;
    box-shadow: 2px 2px 10px 1px #acbebe; 
    flex-wrap: wrap;  
}

.skill-img {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    list-style: none;
    margin-top: -50px;
    margin-right: 25px;
    gap: 10%;
}

.skill-img li{
    font-size: 20px;
    margin: 20px 0;
}

.skill-img img{
    width: 50px;
    height: auto; 
    margin: 0 auto -15px auto; 
}

.Design-list{
    list-style: none; 
    align-items: center; 
    justify-content: center;
    display: flex;
    height: 100%;
}

.Design-list img{
    width: 350px;
    margin-top: -20%;
    height: auto;
}

.Design-name{
    color: black;
    margin-top: -25%;
    text-align: center;
}

.Uijeongbu-City img{
    width: 350px;
    margin-top: -20%;
    height: auto;
}
